<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="Best metronome for your practice sessions. Support for odd time signatures and ability to increase tempo after every round.">
	<link rel="icon" href="favicon.ico" type="image/gif" sizes="16x16">
	<title>Accelonome - Accelerated metronome with time signatures.</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css"
		as="style" onload="this.onload=null;this.rel='stylesheet'">
	<noscript>
		<link rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
	</noscript>
</head>

<body style="background-color: #000000;color: #ffffff; font-family: Verdana, Geneva, Tahoma, sans-serif;">
	<div id="vue-app" class="container">
		<div class="text-center">
			<div class="page-header">
				<img src="header_icon.png" alt="Accelonome Logo" width=128 height=128 style="vertical-align:middle" />
				<span style="font-family:'Courier New', Courier, monospace; font-size: 45px">Accelonome</span>
			</div>
			<form class="form-horizontal">
				<div class="form-group">
					<label for="startTempo" class="col-xs-5 col-md-2 col-md-2 col-md-offset-3 control-label">Starting
						Tempo
					</label>
					<div class="col-xs-7 col-sm-5 col-md-3">
						<div class="input-group">
							<input type="number" class="form-control" v-model="startTempo" id="startTempo"
								:disabled="isPlaying">
							<div class="input-group-addon">BPM</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="endTempo" class="col-xs-5 col-md-2 col-md-offset-3 control-label">Max Tempo</label>
					<div class="col-xs-7 col-sm-5 col-md-3">
						<div class="input-group">
							<input type="number" class="form-control" v-model="endTempo" id="endTempo">
							<div class="input-group-addon">BPM</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="jumpTempo" class="col-xs-5 col-md-2 col-md-offset-3 control-label">Increase Tempo
						By</label>
					<div class="col-xs-7 col-sm-5 col-md-3">
						<div class="input-group">
							<input type="number" class="form-control" v-model="jumpBpm" id="jumpTempo"
								:disabled="isPlaying">
							<div class="input-group-addon">BPM</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="tempoChangeAfterX" class="col-xs-5 col-md-2 col-md-offset-3 control-label">After
						Every</label>
					<div class="col-xs-3 col-sm-2 col-md-1">
						<input type="number" class="form-control" v-model="tempoChangeAfterX" id="tempoChangeAfterX"
							:disabled="isPlaying">
					</div>
					<div class="col-xs-4 col-sm-2 col-md-2" style="text-align: left; padding-left: 0;">
						<select class="form-control" v-model="tempoChangeTrigger" :disabled="isPlaying">
							<option value="bar">Bars</option>
							<option value="second">Seconds</option>
							<option value="minute">Minutes</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="timeSig" class="col-xs-5 col-md-2 col-md-offset-3 control-label">Time
						Signature</label>
					<div class="col-xs-3 col-sm-2 col-md-1">
						<select class="form-control" style="padding-right: 0px;" v-model.number="beats"
							:disabled="isPlaying" id="timeSig">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
						</select>
					</div>
					<span style="position: relative;float:left;font-size: 25px">/</span>
					<div class="col-xs-3 col-sm-2 col-md-1">
						<select class="form-control" style="padding-right: 0px;" v-model="note" :disabled="isPlaying">
							<option value="2">2</option>
							<option value="4">4</option>
							<option value="8">8</option>
							<option value="16">16</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-offset-5 col-xs-5 col-sm-offset-5 col-sm-3 col-md-offset-5 col-md-2">
						<select class="selectpicker form-control" multiple title="Accent beats"
							data-selected-text-format="static" mobile=true v-model="accentedBeats">
							<option v-for="beat in beats" :value=beat :key="beat">{{beat}}</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-5 col-md-2 col-md-offset-3 control-label">Sound</label>
					<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
						<label class="radio-inline">
							<input type="radio" v-model="tickSound" value="metronome_1"> 1
						</label>
						<label class="radio-inline">
							<input type="radio" v-model="tickSound" value="metronome_2"> 2
						</label>
						<label class="radio-inline">
							<input type="radio" v-model="tickSound" value="metronome_3"> 3
						</label>
						<label class="radio-inline">
							<input type="radio" v-model="tickSound" value="metronome_4"> 4
						</label>
					</div>
				</div>
			</form>
			<div class="row" style="margin: 35px 0 40px 0">
				<button type="button" value="0" class="dial" @click="isPlaying ? stop() : play()"><span
						style="color:#ffffff">{{isPlaying ? tempo : 'Start'}}</span>
					<span v-if="isPlaying" style="font-size: 15px;color:#ffffff;"><br />Bar:
						{{currentBar}}/{{barsToPlay}}</span></button>
			</div>
			<footer class="footer">
				<div class="container">
					<div class="row">
						<h5>If you liked this,</h4>
							<a href="https://www.buymeacoffee.com/antweb" target="_blank">
								<img src="https://cdn.buymeacoffee.com/buttons/v2/default-green.png"
									alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;">
							</a>
					</div>
					<br />
					<p class="text-muted">Made with ❤️ (and blistered fingers 🎸) by <a
							href="https://twitter.com/raghavio" target="twt" style="color:#ffffff"><u>Raghav</u></a> and
						<a href="https://twitter.com/antweb9" target="twt" style="color:#ffffff"><u>Ananth</u></a>
					</p>
				</div>
			</footer>
		</div>
	</div>
	<script src="sounds.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
	<script src="https://unpkg.com/jquery-knob@1.2.11/dist/jquery.knob.min.js"></script>
	<script src="https://unpkg.com/vue@3.2.26/dist/vue.global.prod.js"></script>
	<script src="accelonome.js"></script>
	<script defer src="https://www.googletagmanager.com/gtag/js?id=G-1SCY6XELC9"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-1SCY6XELC9');
	</script>
</body>

</html>