<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="Best metronome for your practice sessions. Support for odd time signatures and ability to increase tempo after every round.">
	<link rel="icon" href="favicon.ico" type="image/gif" sizes="16x16">
	<title>Accelonome - Accelerated metronome with time signatures.</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css"
		as="style" onload="this.onload=null;this.rel='stylesheet'">
	<noscript>
		<link rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
	</noscript>
	<style>
		@media (min-width: 365px) {
			#resetButton {
				float: right;
			}

			#drumsCheckBox {
				margin-left: 10px;
			}
		}
		.knob-wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
		}
		
		.knob-container {
            position: relative;
            width: 320px;
            height: 320px;
        }

        .knob-svg {
            width: 100%;
            height: 100%;
        }

        .knob-bg,
        .knob-progress {
            fill: none;
            stroke-width: 6;
            transform: rotate(-90deg);
            transform-origin: 50% 50%;
        }

        .knob-bg {
            stroke: #2295f1;
        }

        .knob-progress {
            stroke: #ffeb3a;
            stroke-dasharray: 282.6; /* Circumference of the circle with radius 45: 2 * 45 * π = 282.6 */
            stroke-dashoffset: 282.6;
            transition: stroke-dashoffset;
            transition-timing-function: linear;
        }

        .animate-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
		.knob-text {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
		}
		
	</style>
</head>

<body style="background-color: #000000;color: #ffffff; font-family: 'Roboto Mono', monospace; font-size: 15px;">
	<main class="container">
		<header class="page-header text-center">
			<img src="header_icon.png" alt="An image of metronome" width=128 height=128 style="vertical-align:middle" />
			<span style="vertical-align: middle; font-size: 45px"> Accelonome</span>
		</header>
		<form class="form-horizontal col-sm-offset-2 col-sm-10 col-md-offset-1 col-md-5">
			<div class="form-group">
				<label for="startTempo" class="col-xs-4 col-md-5 control-label">Starting
					Tempo
				</label>
				<div class="col-xs-8 col-sm-5 col-md-7">
					<div class="input-group">
						<input type="number" class="form-control" data-bind="startTempo" id="startTempo"
							:disabled="isPlaying">
						<div class="input-group-addon">BPM</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="endTempo" class="col-xs-4 col-md-5 control-label">Max Tempo</label>
				<div class="col-xs-8 col-sm-5 col-md-7">
					<div class="input-group">
						<input type="number" class="form-control" data-bind="endTempo" id="endTempo"
							:disabled="!shouldAccelerate">
						<div class="input-group-addon">BPM</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="jumpTempo" class="col-xs-4 col-md-5 control-label">Increase Tempo
					By</label>
				<div class="col-xs-8 col-sm-5 col-md-7">
					<div class="input-group">
						<input type="number" class="form-control" data-bind="jumpBpm" id="jumpTempo"
							:disabled="isPlaying || !shouldAccelerate">
						<div class="input-group-addon">BPM</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="tempoChangeAfterX" class="col-xs-4 col-md-5 control-label">After
					Every</label>
				<div class="col-xs-3 col-sm-2 col-md-3">
					<input type="number" class="form-control" data-bind="tempoChangeAfterX" id="tempoChangeAfterX"
						disabled="isPlaying || !userInput.shouldAccelerate">
				</div>
				<div class="col-xs-4 col-sm-2 col-md-4" style="text-align: left; padding-left: 0;">
					<select class="form-control" data-bind="tempoChangeTrigger"
						:disabled="isPlaying || !shouldAccelerate">
						<option value="bar">Bars</option>
						<option value="second">Seconds</option>
						<option value="minute">Minutes</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="timeSig" class="col-xs-4 col-md-5 control-label">Time
					Signature</label>
				<div class="col-xs-3 col-sm-2 col-md-3">
					<select class="form-control" style="padding-right: 0px;" data-bind="beats"
						:disabled="isPlaying" id="timeSig">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
					</select>
				</div>
				<span style="position: relative;float:left;font-size: 25px">/</span>
				<div class="col-xs-3 col-sm-2 col-md-3">
					<select class="form-control" style="padding-right: 0px;" data-bind="note" :disabled="isPlaying">
						<option value="2">2</option>
						<option value="4">4</option>
						<option value="8">8</option>
						<option value="16">16</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-offset-4 col-xs-4 col-sm-3 col-md-offset-5" style="width:160px">
					<select id="accentedBeatsSelect" class="selectpicker form-control" multiple title="Accent beats"
						data-selected-text-format="static" mobile=true>
						<!-- <option v-for="beat in beats" :value=beat :key="beat">{{beat}}</option> -->
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-4 col-md-5 control-label">Sound</label>
				<div class="col-xs-8 col-md-7">
					<label class="radio-inline">
						<input type="radio" data-bind="tickSound" value="metronome_1"> 1
					</label>
					<label class="radio-inline">
						<input type="radio" data-bind="tickSound" value="metronome_2"> 2
					</label>
					<label class="radio-inline">
						<input type="radio" data-bind="tickSound" value="metronome_3"> 3
					</label>
					<label class="radio-inline">
						<input type="radio" data-bind="tickSound" value="metronome_4"> 4
					</label>
					<label class="checkbox-inline" id="drumsCheckBox">
						<input type="checkbox" data-bind="drumsEnabled" :disabled="!areDrumsAvailable();">Drums
					</label>
				</div>
				<div class="col-xs-offset-4 col-xs-8 col-md-offset-5 col-md-7">
					<label class="checkbox-inline">
						<input type="checkbox" data-bind="vibrateOn"> Vibrate
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" data-bind="flashOn" :disabled="!isPhoneApp"> Flash <a v-if="!isPhoneApp"
							href="https://play.google.com/store/apps/details?id=diy.antweb.accelonome">(app)</a>
					</label>
				</div>
			</div>
			<br />
		</form>
		<div id="playButtons" class="col-md-6">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<label class="checkbox-inline"><input data-bind="shouldAccelerate" :disabled="isPlaying" type="checkbox">
					Accelerate</label>
				<label class="checkbox-inline"><input data-bind="startCueEnabled" :disabled="isPlaying" type="checkbox">
					Count-in</label>
				<label class="checkbox-inline"><input data-bind="reverseEnabled" type="checkbox"> Reverse</label>
				<button type="button" class="btn btn-danger btn-xs" id="resetButton" onclick="reset();">Reset
					tempo</button>
			</div>
			<br />
			<br />
			<div class="knob-wrapper">
				<div class="knob-container" onclick="isPlaying ? stop() : play();">
					<svg class="knob-svg" viewBox="0 0 100 100">
						<circle class="knob-bg" cx="50" cy="50" r="45"></circle>
						<circle class="knob-progress" id="knobProgress" cx="50" cy="50" r="45"></circle>
					</svg>
					<div class="knob-text">
						<span id="knobText" style="font-size: 50px; color: #ffffff;">Start</span>
						<span id="knobSubText" style="font-size: 15px; color: #ffffff; display: none;">
							<br /><br />Bar: <span id="currentBar"></span>/<span id="barsToPlay"></span>
						</span>
					</div>					
				</div>
			</div>
			
			<br />
		</div>
		<footer class="col-md-12 text-center">
			<br />
			<h5>If you liked this,</h5>
				<a href="https://www.buymeacoffee.com/antweb" target="_blank">
					<img src="https://cdn.buymeacoffee.com/buttons/v2/default-green.png"
						alt="Support us by buying a coffee" style="height: 60px !important;width: 217px !important;">
				</a>
				<br />
				<br />
				<p class="text-muted">Made with ❤️ (and blistered fingers 🎸) by <a href="https://twitter.com/raghavio"
						target="twt" style="color:#ffffff"><u>Raghav</u></a> and
					<a href="https://twitter.com/antweb9" target="twt" style="color:#ffffff"><u>Ananth</u></a>
				</p>
		</footer>
	</main>
	<script src="sounds.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
	<!-- <script src="https://unpkg.com/vue@3.2.26/dist/vue.global.prod.js"></script> -->
	<script src="accelonome.js"></script>
	<script src="webfontplayer.min.js" onload="onWebAudioFontLoad();"></script>
	<script defer src="https://www.googletagmanager.com/gtag/js?id=G-1SCY6XELC9"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-1SCY6XELC9');

		document.addEventListener('DOMContentLoaded', function () {
			const accentedBeatsSelect = document.getElementById('accentedBeatsSelect');

			// Populate the select element with number of beats.
			for (let beat = 1; beat <= userInput.beats; beat++) {
				let option = document.createElement('option');
				option.value = beat;
				option.textContent = beat;
				accentedBeatsSelect.appendChild(option);
			}

			// Function to handle changes on the select element.
			function onAccentedBeatsChange() {
				let selectedOptions = Array.from(accentedBeatsSelect.selectedOptions).map(function(option) {
					return option.value; // Assuming the value you want to work with is the option value
				});
				console.log(selectedOptions); // Do something with the selected values here
			}

			accentedBeatsSelect.addEventListener('change', onAccentedBeatsChange);

			// Two way binding of input fields.
			function bindInput(inputElement, variableName) {
				if (inputElement.type === 'checkbox') {
					inputElement.checked = !!userInput[variableName];
				} else {
					inputElement.value = userInput[variableName];
				}
				
				inputElement.addEventListener('input', function(event) {
					// Different handling based on input type
					if (inputElement.type === 'number') {
						var newValue = event.target.value ? parseInt(event.target.value, 10) : null;
						if (isNaN(newValue)) {
							newValue = null;
						}
						userInput[variableName] = newValue;
					} else if (inputElement.type === 'checkbox') {
						userInput[variableName] = inputElement.checked; // Store boolean value for checkbox
					} else {
						userInput[variableName] = event.target.value; // Store the value for other input types
					}
				});
			}

			var inputs = document.querySelectorAll('[data-bind]');

			inputs.forEach(function(inputElement) {
				var variableName = inputElement.getAttribute('data-bind');
				bindInput(inputElement, variableName);
			});
			
		});
		
	</script>
</body>

</html>
